.navbar {
    padding-bottom: 0;
}

.navbar-nav .nav-item {
    padding: 5px 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #787e4d;
}

.navbar-nav .active {
    background: #787e4d;
}

.navbar-nav .active .nav-link {
    color: white;
}