* {
    outline: none;
}

.main-top {
    margin-top: 40px;
}

.navbar {
    border-bottom: 1px solid #bbbaba;
}

.main-content {
    padding: 20px 50px;
}

h1 {
    padding: 20px 0;
    border-bottom: 1px solid #f4f4f2;
}